---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="galeria">
        <h2>Galería</h2>
        <div class="imagenes">
          <img src="#" alt="...">
          <img src="#" alt="...">
          <img src="#" alt="...">
          <!-- Aqui pondremos con java la vaina eso de moverlas aleatoriamente -->
        </div>
      </section>
</Layout>