---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <section id="galeria">
        <h2>Galería</h2>
        <div class="imagenes">
          <div class="ejemplos">ejemplo 1</div>
          <div class="ejemplos">ejemplo 2</div>
          <div class="ejemplos">ejemplo 3</div>
          <div class="ejemplos">ejemplo 4</div>
          <div class="ejemplos">ejemplo 5</div>
          <div class="ejemplos">ejemplo 6</div>
          <div class="ejemplos">ejemplo 7</div>
          <div class="ejemplos">ejemplo 8</div>
          <div class="ejemplos">ejemplo 9</div>
          <div class="ejemplos">ejemplo 10</div>
          <!-- Aqui pondremos con java la vaina eso de moverlas aleatoriamente -->

          <!-- cambiar los div por imagenes -->
        </div>
      </section>
</Layout>

<style>

#galeria{
		background-color: rgb(53, 53, 53);
		text-align: center;
		padding: 10px;
	}

	h2{
		font-size: 45px;
	}

	p{
		font-size: 20px;
	}

</style>