---
import Layout from '../layouts/Layout.astro';
---

<!-- se puede poner un video o imagen como fondo en el section para referenciar el juego o la desarrolladora  -->

<Layout>
	<section class="inicio">
		<h2>Bienvenido</h2>
		<p>Este es un sitio web en construccion por ahora no tenemos nada hecho pero se que Ian , Kelvin, Alexander , Gerald y no me acuerdo quien mas y yo haremos despacio </p>
	  </section>
</Layout>


<style>

	.inicio{
		background-color: rgb(53, 53, 53);
		text-align: center;
		padding: 200px;
	}

	h2{
		font-size: 45px;
	}

	p{
		font-size: 20px;
	}

</style>