---

---

<header>
    <h1>ChronoSpire GAMES</h1>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="#Juegos">Juegos</a></li>
        <li><a href="/galeria">Galería</a></li>
        <li><a href="#Descargar">Descargar</a></li>
        <li><a href="#">Iniciar Sesion</a></li>
      </ul>
    </nav>
  </header>

<style>
	
</style>
